
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.display-flex{
    display: flex;
}
header {
    background-color: orange;
    padding: 20px;
    justify-content: space-between;
}
header .nav a {
    color: black;
    display: block;
    margin: 0 5px;
    padding: 5px;

}
header .logo{
    font-size: 20px;
    background:black;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
}
.nightMode{
    background-color: blue;
}
.dayMode{
    background-color: blueviolet;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.hero {
    background-color: lightgreen;
    padding: 20px;
    height: 95vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
}

footer {
    background-color: lightseagreen;
    padding: 20px;
    text-align: center;
}
.card{
    margin: 10px;
}
.card img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}